<div class="order-main-cnt">
  <div class="order-img">
    <img src="assets/images/OrderPlaced.jpg" alt="" />
  </div>
  <div class="order-detail">
    <div class="order-detail-header">
      <span class="email">Email us</span><span>Contact us</span
      ><span>Address</span>
    </div>
    <div class="user-detail-main">
      <div class="details"><span>admin@bookstore.com</span></div>
      <div class="details"><span>+91 8163475881</span></div>
      <div class="details">
        <span
          >42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, HSR Layout,
          Banglore 560034</span
        >
      </div>
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="continue-btn"
    routerLink="/books"
  >
    CONTINUE SHOPPING
  </button>
</div>
